@mixin colorparrafo($color){
    color: $color;
}
section{
    h2{
        font-family: "Quicksand", sans-serif;
        color:$titulos;
        padding: 10px;
        text-align: center;
    }
    .parrafo-1{
        @include colorparrafo(#000000); 
        font-weight: bold;
        font-size: 1.2em;
    }
    .parrafo-2{
        @include colorparrafo(#0061b1); 
        font-style: italic;
        text-align: center;
        background-color: #3333335d;
        font-weight: bold;
    }
    .parrafo-3{
        @include colorparrafo(#000000);  
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
    }
}