$claro:rgb(241, 161, 175);
$titulos:rgb(73, 30, 114);
$oscuro:rgb(197, 77, 133);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: rgb(241, 161, 175);
}